.footer {
    background #ffffff;
    position: relative;
    padding: 35px 0 30px;
    color: #7a7a7a;
    height: 176px;
    position: absolute;
    bottom: 0;
    width: 100%;
        
    
    a {
        color: #ededed;
    }
    
    .menu-footer {
        float: right;
        margin-bottom: 28px;
        margin-top: 10px;
    }
    
    &__copyright {
        color: #7a7a7a;
        font-weight: 300;
        margin-top: 45px;
    }
    
    &__email {
        font-weight: 300;
        color: #5c5c5c;
        float: right;

        &__label {
        }

        &__text {
            font-size: 23px;
            margin: 7px 0 0;
        }
    }
    &__phone {
        font-weight: 300;
        color: #5c5c5c;
        float: right;
        margin-left: 80px;

        &__label {
        }

        &__text {
            font-size: 23px;
            margin: 7px 0 0;
        }
    }
}