.top-promo {    
    background: url(../images/top-promo.jpg) center 0 repeat-x #FFFFFF;
    height: 465px;
    
    &__info {
        margin: 70px 0 0;
    }
    &__title {
        font-size: 36px;
        color: #4568a1;
        line-height: 1.4em;
    }
    &__text {
        color: #000000;
        font-size: 22px;
        font-weight: 300;
        margin: 24px 0 0;
    }

    &__highlight {        
        background: #fff;
        padding: 4px 12px;
        line-height: 2em;

    }
}