.menu-footer {
    font-size: 15px;
    font-weight: 500;
    
    &__item {
        color: #4d4d4d;
        display: inline-block;
        margin-left: 35px;
        text-transform: uppercase;
    
        a {
            color: #4d4d4d;
            text-decoration: none;
            &:hover {
                color: #416296;
            }
        }
    }
}