.header {
    padding: 35px 0;
    background #ffffff;
    
    &__logo {
        margin: 12px 0 0;
    }

    &__text {
        font-weight: 300;
        line-height: 1.7em;
        margin-left: 18px;
        padding: 0 0 0 18px;
        margin-top: 5px;
        border-left: 1px solid #b4b4b4;
        color: #424242;
    }

    &__phone {
        font-weight: 300;
        color: #5c5c5c;

        &__title {
        }

        &__number {
            font-size: 23px;
            margin-top: 5px;
        }
    }
    
}