.content-block {
    margin: 16px 0;
    
    .content-block__inner {
        background: #FFFFFF;
        padding: 18px;
        font-size: 16px;
        font-weight: 300;
    }
    
    &__header {
        font-size: 36px;
        line-height: 1em;
        padding: 0 0 5px;
        font-weight: 400;
        color: #4568a1;
    }
    &__text {
        margin: 25px 0 0;
    }
}