.contact-block {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0 40px 0;
    
    &__title {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.4em;
        margin-bottom: 25px;
    }

    &__highlight {
        color: #2d59a1;
    }

    &__phone {
        font-size: 34px;
        font-weight: 300;
        line-height: 1.4em;
    }

    .btn {
        margin-top: 15px;
    }
}