.contacts {
    margin-bottom: -150px!important;
    
    
    .row_table {
        margin-left: -32px;
        margin-right: -32px;
        border-spacing: 16px 0;
        border-collapse: separate;
    }
    
    
    .container {
        overflow: hidden;
    }
    
    *:before,
    *:after {
        border-spacing: 0;
    }
    
    &__info {
        background: #2d59a1;
        background: rgba(45,89,161,0.8);
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px 20px 40px;
    
        h3 {
            color: #ffffff;
            font-size: 36px;
            font-weight: 300;
        }
    
        &__item {
            margin: 20px 0 0;
        }
        &__title {
            font-size: 16px;
            font-weight: 300;
        }
        &__text {
            font-size: 22px;
            line-height: 1.2em;
            margin: 2px 0 0;
        }
    }

    &__form {
        background: #FFFFFF;
        background: rgba(255,255,255,0.8);
        padding: 5px 20px 40px;

        h3 {
            font-size: 36px;
            font-weight: 300;
        }
        .form_horizontal {
            width: 530px;
            margin-top: 30px;
    
            .form-label__wrap {
                float: left;
                width: 100px;
                text-align: right;
            }
            .form-control__wrap {
                margin: 0 0 0 115px;
            }
            .form-checkbox {
                margin: 0 0 0 -18px;
            }
        }
        .btn {
            width: 220px;
        }
    }

    &-map {
        height: 650px;
    }
}