.search-block {
    margin: 14px 0 0;
    font-size: 0;
    
    &__input[type=text],
    &__input[type=text]:focus {
        background: none;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #7d99c6;
        color: #FFFFFF;
        font-size: 17px;
        font-weight: 300;
        width: 116px;
        height: 22px;
        line-height: 22px;
    
        &:focus {
            outline:none;
        }
    }
    &__btn {
        width: 22px;
        height: 22px;
        background: none;
        border: none;
        color: #FFFFFF;    
        text-align: center;
        padding: 0;
        
        &:focus {
            outline:none;
        }
    }
}